@model WebTest.Models.EF.Adv
<div class="main_slider" style="background-image:url(@Model.Image)">
    <div class="container fill_height">
        <div class="row align-items-center fill_height">
            <div class="col">
                <div class="main_slider_content">
                    <h1>CHÀO MỪNG QUÝ KHÁCH</h1>
                    <div class="red_button shop_now_button"><a href="/dich-vu">Đặt lịch ngay</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
